/* @tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #111;  
  color: #fff;             
  font-family: Arial, sans-serif;
}

.csoon {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
} */
